<div>
    <h2 id="page-heading">
        <span>Messages</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-message" [routerLink]="['/message/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Ajout Message
            </span>
        </button>
    </h2>
    <!-- <jhi-alert></jhi-alert> -->
   <br/>
    <div class="alert alert-warning" *ngIf="messages?.length === 0">
        <span>Aucune message trouvée</span>
    </div>
    <div class="table-responsive" *ngIf="messages?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <!-- <tr sort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)"> -->
                <tr>
                    <th sortBy="id"><span>ID</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
                    <th sortBy="code"><span>Code</span><!--<fa-icon [icon]="'sort'"></fa-icon>--> </th>
                    <th sortBy="libelle"><span>Libelle</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
                    <th sortBy="typeMessageId"><span>Type Message</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let message of messages ;trackBy: trackId">
                <td><a [routerLink]="['/message', message.id, 'view' ]">{{message.id}}</a></td>
                <td>{{message.code}}</td>
                <td>{{message.libelle}}</td>
                <td>{{message.typeMessage.libelle}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                title="Consulter"
                                [routerLink]="['/message', message.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                title="Modifier"
                                [routerLink]="['/message', message.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                title="Supprimer"
                                [routerLink]="['/message', { outlets: { popup: message.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="messages?.length === 0">
        <div class="row justify-content-center">
                <item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></item-count>
            </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div> 
</div>
