
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="message">
            <h2><span>Message</span> {{message.id}}</h2>
            <hr>
           <!-- <jhi-alert-error></jhi-alert-error> -->
            <dl class="row-md jh-entity-details">
                <dt><span>Code Message</span></dt>
                <dd>
                    <span>{{message.code}}</span>
                </dd>
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{message.libelle}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{message.code}}</span>
                </dd>
                <dt><span>Type message</span></dt>
                <dd>
                    <div *ngIf="message.typeMessage">
                        <a [routerLink]="['/typeMessage', message.typeMessage.id, 'view']">{{message.typeMessage.libelle}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/message', message.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
