
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="banque">
            <h2><span>Banque</span> {{banque.id}}</h2>
            <hr>
           <!-- <jhi-alert-error></jhi-alert-error> -->
            <dl class="row-md jh-entity-details">
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{banque.libelle}}</span>
                </dd>
                <dt><span>Abreviation</span></dt>
                <dd>
                    <span>{{banque.abreviation}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{banque.description}}</span>
                </dd>
                <dt><span>Statut</span></dt>
                <dd>
                    <span>{{banque.actif}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/banque', banque.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
