
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categorieAge">
            <h2><span>Categorie Age</span> {{categorieAge.id}}</h2>
            <hr>
           <!-- <jhi-alert-error></jhi-alert-error> -->
            <dl class="row-md jh-entity-details">
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{categorieAge.libelle}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{categorieAge.description}}</span>
                </dd>
                <dt><span>Age min.</span></dt>
                <dd>
                    <span>{{categorieAge.minAge}}</span>
                </dd>
                <dt><span>Age max.</span></dt>
                <dd>
                    <span>{{categorieAge.maxAge}}</span>
                </dd>
                <dt><span>Societe</span></dt>
                <dd>
                    <div *ngIf="categorieAge.societe">
                        <a [routerLink]="['/societe', categorieAge.societe.id, 'view']">{{categorieAge.societe.libelle}}</a>
                    </div>
                </dd>
                <dt><span>Activite metier</span></dt>
                <dd>
                    <div *ngIf="categorieAge.activiteMetier">
                        <a [routerLink]="['/activiteMetier', categorieAge.activiteMetier.id, 'view']">{{categorieAge.activiteMetier.libelle}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/categorieAge', categorieAge.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
