<div>
    <h2 id="page-heading">
        <span>CategoriesAge</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-categorieAge" [routerLink]="['/categorie-age/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Ajout Categorie Age
            </span>
        </button>
    </h2>
    <!-- <jhi-alert></jhi-alert> -->
   <br/>
    <div class="alert alert-warning" *ngIf="categoriesAge?.length === 0">
        <span>Aucune categorieAge trouvée</span>
    </div>
    <div class="table-responsive" *ngIf="categoriesAge?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <!-- <tr sort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)"> -->
                <tr>
                    <th sortBy="id"><span>ID</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
                    <th sortBy="libelle"><span>Libelle</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
                    <th sortBy="description"><span>Description</span><!--<fa-icon [icon]="'sort'"></fa-icon>--> </th>
                    <th sortBy="minAge"><span>Age min.</span><!--<fa-icon [icon]="'sort'"></fa-icon>--> </th>
                    <th sortBy="maxAge"><span>Age max.</span><!--<fa-icon [icon]="'sort'"></fa-icon>--> </th>
                    <th sortBy="societe.libelle"><span>Societe</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
                    <th sortBy="activiteMetier.libelle"><span>Activite metier</span><!--<fa-icon [icon]="'sort'"></fa-icon>--> </th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let categorieAge of categoriesAge ;trackBy: trackId">
                <td><a [routerLink]="['/categorieAge', categorieAge.id, 'view' ]">{{categorieAge.id}}</a></td>
                <td>{{categorieAge.libelle}}</td>
                <td>{{categorieAge.abreviation}}</td>
                <td>{{categorieAge.description}}</td>
                <td>{{categorieAge.societe.libelle}}</td>
                <td>{{categorieAge.activiteMetier.libelle}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                title="Consulter"
                                [routerLink]="['/categorie-age', categorieAge.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                title="Modifier"
                                [routerLink]="['/categorie-age', categorieAge.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                title="Supprimer"
                                [routerLink]="['/categorie-age', { outlets: { popup: categorieAge.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="categoriesAge?.length === 0">
        <div class="row justify-content-center">
                <item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></item-count>
            </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div> 
</div>
