<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-banque-heading">Create or edit a Categorie Age</h2>
            <div>
                <!-- <jhi-alert-error></jhi-alert-error> -->
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                           formControlName="libelle"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_minAge">Age min.</label>
                    <input type="text" class="form-control" name="minAge" id="field_minAge"
                           formControlName="minAge"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_maxAge">Age Max.</label>
                    <input type="text" class="form-control" name="maxAge" id="field_maxAge"
                           formControlName="maxAge"/>
                </div>
                
                <div class="form-group">
                    <label class="form-control-label" for="field_societe">Societe</label>
                    <select class="form-control" id="field_societe" name="societe" formControlName="societe">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="societeOption.id" *ngFor="let societeOption of societes; trackBy: trackShorthand">{{societeOption.libelle}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_activiteMetier">Activite metier</label>
                    <select class="form-control" id="field_activiteMetier" name="activiteMetier" formControlName="activiteMetier">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="activiteMetierOption.id" *ngFor="let activiteMetierOption of activitesMetier; trackBy: trackShorthand">{{activiteMetierOption.libelle}}</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>