body{
}

#haut{
	padding-top: 10px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	Font-size: 1.2em;
}

#accessibilite li a:hover{
	text-decoration: none;
	cursor: default;
}

#accessibilite li:focus, a:focus span{
	color: black;
}


.access_hidden{
	color: white;
}


footer{
	background-color: #333;
	color: white;
}

#pied{
	text-align: center;
	padding: 40px;
}

#top-link-block {
	position: relative; /* allows it to "slide" up into view */
	text-align: right;
	margin-top: 20px;
}



@media all and (max-width: 1200px) { /* screen size until 1200px */
    #haut{
        font-size: 1.2em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    #haut{
        font-size: 1.0em; /* 1.2x default size */
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    #haut{
        font-size: 0.6em; /* 0.8x default size */
        }
    }

/* ajout d'un cadre pour mieux visualiser le menu "hover" (cf. paypal bootstrap accessibility plugin) */
.nav > li > a:hover, .nav > li > a:focus {
    outline: 1px dotted #000;
}
