﻿/* ajout pour affichage en hover */

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover .dropdown-menu {
    display: block;
}



/* autre solution :  http://stackoverflow.com/questions/8878033/how-to-make-twitter-bootstrap-menu-dropdown-on-hover-rather-than-click#answer-8878666 
  à encapsuler par un @media (min-width: 979px) {  } pour ne pas avoir ce comportement sur le menu collapse.
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
*/