
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeMessage">
            <h2><span>Type Message</span> {{typeMessage.id}}</h2>
            <hr>
           <!-- <jhi-alert-error></jhi-alert-error> -->
            <dl class="row-md jh-entity-details">
                <dt><span>Titre</span></dt>
                <dd>
                    <span>{{typeMessage.titre}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{typeMessage.description}}</span>
                </dd>
                <dt><span>Criticité</span></dt>
                <dd>
                    <span>{{typeMessage.criticite.libelle}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{typeMessage.type}}</span>
                </dd>
                <dt><span>Fonction</span></dt>
                <dd>
                    <span>{{typeMessage.codeFonction}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-message', typeMessage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
