<div>
    <h2 id="page-heading">
        <span>Types de Message</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-typeMessage" [routerLink]="['/type-message/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Ajout Type de message
            </span>
        </button>
    </h2>
    <!-- <jhi-alert></jhi-alert> -->
   <br/>
    <div class="alert alert-warning" *ngIf="typeMessages?.length === 0">
        <span>Aucun type de message trouvé</span>
    </div>
    <div class="table-responsive" *ngIf="typeMessages?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <!-- <tr sort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)"> -->
                <tr>
                    <th sortBy="id"><span>ID</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
                    <th sortBy="titre"><span>Titre</span><!--<fa-icon [icon]="'sort'"></fa-icon>--> </th>
                    <th sortBy="description"><span>Description</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
                    <th sortBy="criticite"><span>Criticite</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
                    <th sortBy="type"><span>Type</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
                    <th sortBy="fonction"><span>Fonction</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let typeMessage of typeMessages ;trackBy: trackId">
                <td><a [routerLink]="['/type-message', typeMessage.id, 'view' ]">{{typeMessage.id}}</a></td>
                <td>{{typeMessage.titre}}</td>
                <td>{{typeMessage.description}}</td>
                <td>{{typeMessage.criticite.libelle}}</td>
                <td>{{typeMessage.type}}</td>
                <td>{{typeMessage.codeFonction}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                title="Consulter"
                                [routerLink]="['/type-message', typeMessage.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                title="Modifier"
                                [routerLink]="['/type-message', typeMessage.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                title="Supprimer"
                                [routerLink]="['/type-message', { outlets: { popup: typeMessage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="typeMessages?.length === 0">
        <div class="row justify-content-center">
                <item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></item-count>
            </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div> 
</div>
