
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="devise">
            <h2><span>Devise</span> {{devise.id}}</h2>
            <hr>
           <!-- <jhi-alert-error></jhi-alert-error> -->
            <dl class="row-md jh-entity-details">
                <dt><span>Abreviation Courte</span></dt>
                <dd>
                    <span>{{devise.abreviationCourte}}</span>
                </dd>
                <dt><span>Abreviation Longue</span></dt>
                <dd>
                    <span>{{devise.abreviationLongue}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{devise.code}}</span>
                </dd>
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{devise.libelle}}</span>
                </dd>
                <dt><span>Nombre Apres Virgule</span></dt>
                <dd>
                    <span>{{devise.nombreApresVirgule}}</span>
                </dd>
                <dt><span>Actif</span></dt>
                <dd>
                    <span>{{devise.actif}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/devise', devise.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
