<div>
    <h2 id="page-heading">
        <span>Devises</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-devise" [routerLink]="['/devise/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Ajout Devise
            </span>
        </button>
    </h2>
    <!-- <jhi-alert></jhi-alert> -->
   <br/>
    <div class="alert alert-warning" *ngIf="devises?.length === 0">
        <span>Aucune devise trouvée</span>
    </div>
    <div class="table-responsive" *ngIf="devises?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <!-- <tr sort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)"> -->
                <tr>
                    <th sortBy="id"><span>ID</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
                    <th sortBy="codeTable"><span>Code Table</span><!--<fa-icon [icon]="'sort'"></fa-icon>--> </th>
                    <th sortBy="codeCodification"><span>Code Codification</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
                    <th sortBy="codeLibelle"><span>Code Libelle</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
                    <th sortBy="codeActif"><span>Code Actif</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
                    <th sortBy="societeId"><span>Societe</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let devise of devises ;trackBy: trackId">
                <td><a [routerLink]="['/devise', devise.id, 'view' ]">{{devise.id}}</a></td>
                <td>{{devise.abreviationCourte}}</td>
                <td>{{devise.abreviationLongue}}</td>
                <td>{{devise.code}}</td>
                <td>{{devise.libelle}}</td>
                <td>{{devise.nombreApresVirgule}}</td>
                <td>{{devise.actif}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                title="Consulter"
                                [routerLink]="['/devise', devise.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                title="Modifier"
                                [routerLink]="['/devise', devise.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                title="Supprimer"
                                [routerLink]="['/devise', { outlets: { popup: devise.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="devises?.length === 0">
        <div class="row justify-content-center">
                <item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></item-count>
            </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div> 
</div>
