<div class="row justify-content-center">
    <form class="text-center border border-light p-5" name="editForm" role="form" novalidate (ngSubmit)="save()"
        [formGroup]="editForm">
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Créer Ligne</strong>
        </h5>
        <!-- <jhi-alert-error></jhi-alert-error> -->
        <div>
            <fieldset class="border p-2">
                <button type="button" [hidden]="!hideInfoLigne" class="btn btn-outline-dark"
                    (click)="infosLigne()">Afficher détails</button>
                <legend align="left" class="w-auto">Infos ligne</legend>
                <div>
                    <div class="form-row mb-4" [hidden]="!editForm.get('id').value">
                        <div class="col">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col">
                            <label class="form-control-label" for="field_gareDepart">Gare Depart</label>
                            <select class="form-control" id="field_gareDepart" name="gareDepart"
                                formControlName="gareDepartId">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="gareOption.id"
                                    *ngFor="let gareOption of gares; trackBy: trackGareById">
                                    {{gareOption.libelle}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="form-control-label" for="field_gareDestination">Gare Destination</label>
                            <select class="form-control" id="field_gareDestination" name="gareDestination"
                                formControlName="gareDestinationId">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="gareOption.id"
                                    *ngFor="let gareOption of gares; trackBy: trackGareById">
                                    {{gareOption.libelle}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col">
                            <label class="form-control-label" for="field_code">Code</label>
                            <input type="text" class="form-control" name="code" id="field_code"
                                formControlName="code" />
                        </div>
                        <div class="col">
                            <label class="form-control-label" for="field_libelle">Libelle</label>
                            <input type="text" class="form-control" name="libelle" id="field_libelle"
                                formControlName="libelle" />
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col">
                            <label class="form-control-label" for="field_classe">Classe</label>
                            <select class="form-control" id="field_classe" name="classe" formControlName="classeId">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="codificationOption.id"
                                    *ngFor="let codificationOption of naturesDepart; trackBy: trackCodificationById">
                                    {{codificationOption.codeLibelle}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="form-control-label" for="field_dateCreation">Date Creation</label>
                            <div class="input-group">
                                <input id="field_dateCreation" type="text" class="form-control" name="dateCreation"
                                    ngbDatepicker #dateCreationDp="ngbDatepicker" formControlName="dateCreation" readonly />
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="dateCreationDp.toggle()">
                                        <fa-icon [icon]="'calendar-alt'"></fa-icon>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-control-label" for="field_actif">Actif</label>
                            <input type="checkbox" class="form-control" name="actif" id="field_actif"
                                formControlName="actif" />
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>
        <div>
            <fieldset class="border p-2">
                <div formArrayName="passerelles">
                    <h3>Passerelles</h3> 
                    <button type="button" class="btn btn-success" (click)="addPasserelle()">(+)</button>
                    <div class="form-group" *ngFor="let passerelleControl of getPasserelles().controls; let i = index">
                      <ng-container [formGroupName]="i">
                        <input placeholder="libelle" formControlName="libelle">
                        <button type="button" class="btn btn-success" (click)="onAddPasserelle()">Valider et continuer</button>
                      </ng-container>
                    </div>
              </div>
            </fieldset>
        </div>
        <div>
          <!--
            <fieldset class="border p-2">
                <legend align="left" class="w-auto">Ajout Passerelle</legend>
                <jhi-passerelle-update [name]="newPasserelle" (passerelleForm)="addPasserelle($event)">
                </jhi-passerelle-update>
            </fieldset>
          -->  
        </div>
        <div class="float-right">
            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Annuler</span>
            </button>
            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Valider</span>
            </button>
        </div>
    </form>
</div>