<div>
    <h2 id="page-heading">
        <span>Lignes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ligne" [routerLink]="['/ligne/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Ligne
            </span>
        </button>
    </h2>
   <!-- <jhi-alert-error></jhi-alert-error> -->
    <br/>
    <div class="alert alert-warning" *ngIf="lignes?.length === 0">
        <span>No lignes found</span>
    </div>
    <div class="table-responsive" *ngIf="lignes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th sortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th sortBy="libelle"><span>Libelle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th sortBy="code"><span>Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th sortBy="dateCreation"><span>Date Creation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th sortBy="suspendu"><span>Suspendu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th sortBy="dateSuspension"><span>Date Suspension</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th sortBy="actif"><span>Actif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th sortBy="gareDepartId"><span>Gare Depart</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th sortBy="gareDestinationId"><span>Gare Destination</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th sortBy="classeId"><span>Classe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ligne of lignes ;trackBy: trackId">
                <td><a [routerLink]="['/ligne', ligne.id, 'view' ]">{{ligne.id}}</a></td>
                <td>{{ligne.libelle}}</td>
                <td>{{ligne.code}}</td>
                <td>{{ligne.dateCreation | date:'shortDate'}}</td>
                <td>{{ligne.suspendu}}</td>
                <td>{{ligne.dateSuspension | date:'shortDate'}}</td>
                <td>{{ligne.actif}}</td>
                <td>
                    <div *ngIf="ligne.gareDepartId">
                        <a [routerLink]="['/gare', ligne.gareDepartId , 'view' ]" >{{ligne.gareDepartId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ligne.gareDestinationId">
                        <a [routerLink]="['/gare', ligne.gareDestinationId , 'view' ]" >{{ligne.gareDestinationId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ligne.classeId">
                        <a [routerLink]="['/codification', ligne.classeId , 'view' ]" >{{ligne.classeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ligne', ligne.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ligne', ligne.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ligne', { outlets: { popup: ligne.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="lignes?.length === 0">
        <div class="row justify-content-center">
            <item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
