<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ligne">
            <h2><span>Ligne</span> {{ligne.id}}</h2>
            <hr>
            <!-- <jhi-alert-error></jhi-alert-error> -->
            <dl class="row-md jh-entity-details">
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{ligne.libelle}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{ligne.code}}</span>
                </dd>
                <dt><span>Date Creation</span></dt>
                <dd>
                    <span>{{ligne.dateCreation}}</span>
                </dd>
                <dt><span>Suspendu</span></dt>
                <dd>
                    <span>{{ligne.suspendu}}</span>
                </dd>
                <dt><span>Date Suspension</span></dt>
                <dd>
                    <span>{{ligne.dateSuspension}}</span>
                </dd>
                <dt><span>Actif</span></dt>
                <dd>
                    <span>{{ligne.actif}}</span>
                </dd>
                <dt><span>Gare Depart</span></dt>
                <dd>
                    <div *ngIf="ligne.gareDepartId">
                        <a [routerLink]="['/gare', ligne.gareDepartId, 'view']">{{ligne.gareDepartId}}</a>
                    </div>
                </dd>
                <dt><span>Gare Destination</span></dt>
                <dd>
                    <div *ngIf="ligne.gareDestinationId">
                        <a [routerLink]="['/gare', ligne.gareDestinationId, 'view']">{{ligne.gareDestinationId}}</a>
                    </div>
                </dd>
                <dt><span>Classe</span></dt>
                <dd>
                    <div *ngIf="ligne.classeId">
                        <a [routerLink]="['/codification', ligne.classeId, 'view']">{{ligne.classeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ligne', ligne.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
