
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="societe">
            <h2><span>Societé</span> {{societe.id}}</h2>
            <hr>
           <!-- <jhi-alert-error></jhi-alert-error> -->
            <dl class="row-md jh-entity-details">
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{societe.libelle}}</span>
                </dd>
                <dt><span>Statut</span></dt>
                <dd>
                    <span>{{societe.actif}}</span>
                </dd>
                <dt><span>Pays</span></dt>
                <dd>
                    <div *ngIf="societe.pays">
                        <a [routerLink]="['/societe', societe.pays.id, 'view']">{{societe.pays.libelle}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/societe', societe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
