<div>
    <h2 id="page-heading">
        <span>Societé</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-societe" [routerLink]="['/societe/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Ajout Societé
            </span>
        </button>
    </h2>
    <!-- <jhi-alert></jhi-alert> -->
   <br/>
    <div class="alert alert-warning" *ngIf="societes?.length === 0">
        <span>Aucune societé trouvée</span>
    </div>
    <div class="table-responsive" *ngIf="societes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <!-- <tr sort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)"> -->
                <tr>
                    <th sortBy="id"><span>ID</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
                    <th sortBy="libelle"><span>Libelle</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
                    <th sortBy="actif"><span>Statut</span><!--<fa-icon [icon]="'sort'"></fa-icon>--> </th>
                    <th sortBy="pays.libelle"><span>Pays</span> <!--<fa-icon [icon]="'sort'"></fa-icon>--></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let societe of societes ;trackBy: trackId">
                <td><a [routerLink]="['/societe', societe.id, 'view' ]">{{societe.id}}</a></td>
                <td>{{societe.libelle}}</td>
                <td>
                    <fa-icon [icon]="'eye'" *ngIf="societe.actif"></fa-icon>
                    <fa-icon [icon]="'eye-slash'" *ngIf="!societe.actif"></fa-icon>
                </td>
                <td>{{societe.pays.libelle}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                title="Consulter"
                                [routerLink]="['/societe', societe.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                title="Modifier"
                                [routerLink]="['/societe', societe.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                title="Supprimer"
                                [routerLink]="['/societe', { outlets: { popup: societe.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="societes?.length === 0">
        <div class="row justify-content-center">
                <item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></item-count>
            </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div> 
</div>
