<div>
    <h2 id="page-heading">
        <span>Pays</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pays" [routerLink]="['/pays/new']">
     
            <span >
            Create a new Pays
            </span>
        </button>
    </h2>
    <br/>
    <div class="alert alert-warning" *ngIf="pays?.length === 0">
        <span>No pays found</span>
    </div>
    <div class="table-responsive" *ngIf="pays?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr >
            <th ><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th ><span>Abreviation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th ><span>Code Alphanum</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th ><span>Code Numerique</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th ><span>Date Debut Heure Ete</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th ><span>Date Fin Heure Ete</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th ><span>Heure Ete</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th ><span>Decalage Horaire</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th ><span>Libelle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th ><span>Actif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th ><span>Devise</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pays of pays ;trackBy: trackId">
                <td><a [routerLink]="['/pays', pays.id, 'view' ]">{{pays.id}}</a></td>
                <td>{{pays.abreviation}}</td>
                <td>{{pays.codeAlphanum}}</td>
                <td>{{pays.codeNumerique}}</td>
                <td>{{pays.dateDebutHeureEte | date:'mediumDate'}}</td>
                <td>{{pays.dateFinHeureEte | date:'mediumDate'}}</td>
                <td>{{pays.heureEte}}</td>
                <td>{{pays.decalageHoraire}}</td>
                <td>{{pays.libelle}}</td>
                <td>{{pays.actif}}</td>
                <td>
                    <div *ngIf="pays.deviseId">
                        <a [routerLink]="['/devise', pays.deviseId , 'view' ]" >{{pays.deviseId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pays', pays.id, 'view' ]"
                                class="btn btn-info btn-sm">
     
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pays', pays.id, 'edit']"
                                class="btn btn-primary btn-sm">
                   
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pays', { outlets: { popup: pays.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
              
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="pays?.length === 0">
     
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
