<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pays">
            <h2><span>Pays</span> {{pays.id}}</h2>
            <hr>
            <dl class="row-md jh-entity-details">
                <dt><span>Abreviation</span></dt>
                <dd>
                    <span>{{pays.abreviation}}</span>
                </dd>
                <dt><span>Code Alphanum</span></dt>
                <dd>
                    <span>{{pays.codeAlphanum}}</span>
                </dd>
                <dt><span>Code Numerique</span></dt>
                <dd>
                    <span>{{pays.codeNumerique}}</span>
                </dd>
                <dt><span>Date Debut Heure Ete</span></dt>
                <dd>
                    <span>{{pays.dateDebutHeureEte}}</span>
                </dd>
                <dt><span>Date Fin Heure Ete</span></dt>
                <dd>
                    <span>{{pays.dateFinHeureEte}}</span>
                </dd>
                <dt><span>Heure Ete</span></dt>
                <dd>
                    <span>{{pays.heureEte}}</span>
                </dd>
                <dt><span>Decalage Horaire</span></dt>
                <dd>
                    <span>{{pays.decalageHoraire}}</span>
                </dd>
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{pays.libelle}}</span>
                </dd>
                <dt><span>Actif</span></dt>
                <dd>
                    <span>{{pays.actif}}</span>
                </dd>
                <dt><span>Devise</span></dt>
                <dd>
                    <div *ngIf="pays.deviseId">
                        <a [routerLink]="['/devise', pays.deviseId, 'view']">{{pays.deviseId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pays', pays.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
