<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pays-heading">Create or edit a Pays</h2>
            <div>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_abreviation">Abreviation</label>
                    <input type="text" class="form-control" name="abreviation" id="field_abreviation"
                           formControlName="abreviation"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codeAlphanum">Code Alphanum</label>
                    <input type="text" class="form-control" name="codeAlphanum" id="field_codeAlphanum"
                           formControlName="codeAlphanum"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codeNumerique">Code Numerique</label>
                    <input type="text" class="form-control" name="codeNumerique" id="field_codeNumerique"
                           formControlName="codeNumerique"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateDebutHeureEte">Date Debut Heure Ete</label>
                    <div class="input-group">
                        <input id="field_dateDebutHeureEte" type="text" class="form-control" name="dateDebutHeureEte" ngbDatepicker  #dateDebutHeureEteDp="ngbDatepicker" formControlName="dateDebutHeureEte"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDebutHeureEteDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateFinHeureEte">Date Fin Heure Ete</label>
                    <div class="input-group">
                        <input id="field_dateFinHeureEte" type="text" class="form-control" name="dateFinHeureEte" ngbDatepicker  #dateFinHeureEteDp="ngbDatepicker" formControlName="dateFinHeureEte"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFinHeureEteDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_heureEte">Heure Ete</label>
                    <input type="checkbox" class="form-control" name="heureEte" id="field_heureEte"
                           formControlName="heureEte"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_decalageHoraire">Decalage Horaire</label>
                    <input type="text" class="form-control" name="decalageHoraire" id="field_decalageHoraire"
                           formControlName="decalageHoraire"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                           formControlName="libelle"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_actif">Actif</label>
                    <input type="checkbox" class="form-control" name="actif" id="field_actif"
                           formControlName="actif"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_devise">Devise</label>
                    <select class="form-control" id="field_devise" name="devise" formControlName="deviseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="deviseOption.id" *ngFor="let deviseOption of devises; trackBy: trackDeviseById">{{deviseOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
