<form name="deleteForm" (ngSubmit)="confirmDelete(pays.id)">
    <div class="modal-header">
        <h4 class="modal-title">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <p id="jhi-delete-pays-heading">Are you sure you want to delete this Pays?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span>Cancel</span>
        </button>
        <button id="jhi-confirm-delete-pays" type="submit" class="btn btn-danger">
            <span>Delete</span>
        </button>
    </div>
</form>
