<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-codification-heading">Create or edit a Codification</h2>
            <div>
                <!-- <jhi-alert-error></jhi-alert-error> -->
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codeTable">Code Table</label>
                    <input type="text" class="form-control" name="codeTable" id="field_codeTable"
                           formControlName="codeTable"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codeCodification">Code Codification</label>
                    <input type="text" class="form-control" name="codeCodification" id="field_codeCodification"
                           formControlName="codeCodification"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codeLibelle">Code Libelle</label>
                    <input type="text" class="form-control" name="codeLibelle" id="field_codeLibelle"
                           formControlName="codeLibelle"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codeActif">Code Actif</label>
                    <input type="checkbox" class="form-control" name="codeActif" id="field_codeActif"
                           formControlName="codeActif"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_societe">Societe</label>
                    <select class="form-control" id="field_societe" name="societe" formControlName="societeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="societeOption.id" *ngFor="let societeOption of societes; trackBy: trackSocieteById">{{societeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
