<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="codification">
            <h2><span>Codification</span> {{codification.id}}</h2>
            <hr>
            <!-- <jhi-alert-error></jhi-alert-error> -->
            <dl class="row-md jh-entity-details">
                <dt><span>Code Table</span></dt>
                <dd>
                    <span>{{codification.codeTable}}</span>
                </dd>
                <dt><span>Code Codification</span></dt>
                <dd>
                    <span>{{codification.codeCodification}}</span>
                </dd>
                <dt><span>Code Libelle</span></dt>
                <dd>
                    <span>{{codification.codeLibelle}}</span>
                </dd>
                <dt><span>Code Actif</span></dt>
                <dd>
                    <span>{{codification.codeActif}}</span>
                </dd>
                <dt><span>Societe</span></dt>
                <dd>
                    <div *ngIf="codification.societeId">
                        <a [routerLink]="['/societe', codification.societeId, 'view']">{{codification.societeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/codification', codification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
