<div>
    <h2 id="page-heading">
        <span>Codifications</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-codification" [routerLink]="['/codification/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Codification
            </span>
        </button>
    </h2>
    <!-- <jhi-alert-error></jhi-alert-error> -->
    <br/>
    <div class="alert alert-warning" *ngIf="codifications?.length === 0">
        <span>No codifications found</span>
    </div>
    <div class="table-responsive" *ngIf="codifications?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th sortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th sortBy="codeTable"><span>Code Table</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th sortBy="codeCodification"><span>Code Codification</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th sortBy="codeLibelle"><span>Code Libelle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th sortBy="codeActif"><span>Code Actif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th sortBy="societeId"><span>Societe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let codification of codifications ;trackBy: trackId">
                <td><a [routerLink]="['/codification', codification.id, 'view' ]">{{codification.id}}</a></td>
                <td>{{codification.codeTable}}</td>
                <td>{{codification.codeCodification}}</td>
                <td>{{codification.codeLibelle}}</td>
                <td>{{codification.codeActif}}</td>
                <td>
                    <div *ngIf="codification.societeId">
                        <a [routerLink]="['/societe', codification.societeId , 'view' ]" >{{codification.societeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/codification', codification.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/codification', codification.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/codification', { outlets: { popup: codification.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="codifications?.length === 0">
        <div class="row justify-content-center">
            <item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
