﻿<div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
<div *ngIf="currentUser" class="jumbotron">
    <div class="row">
        <h2 class="text-center">{{currentUser.parametreGlobal.messageAccueil}}</h2>
    </div>
</div>