<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-agence-heading">Create or edit a Agence</h2>
            <div>
      
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                           formControlName="libelle"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codeComptable">Code Comptable</label>
                    <input type="text" class="form-control" name="codeComptable" id="field_codeComptable"
                           formControlName="codeComptable"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_identificationFiscale">Identification Fiscale</label>
                    <input type="text" class="form-control" name="identificationFiscale" id="field_identificationFiscale"
                           formControlName="identificationFiscale"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateCreation">Date Creation</label>
                    <div class="input-group">
                        <input id="field_dateCreation" type="text" class="form-control" name="dateCreation" ngbDatepicker  #dateCreationDp="ngbDatepicker" formControlName="dateCreation"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateCreationDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_debutService">Debut Service</label>
                    <div class="input-group">
                        <input id="field_debutService" type="text" class="form-control" name="debutService" ngbDatepicker  #debutServiceDp="ngbDatepicker" formControlName="debutService"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="debutServiceDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_finService">Fin Service</label>
                    <div class="input-group">
                        <input id="field_finService" type="text" class="form-control" name="finService" ngbDatepicker  #finServiceDp="ngbDatepicker" formControlName="finService"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="finServiceDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateOuverture">Date Ouverture</label>
                    <div class="input-group">
                        <input id="field_dateOuverture" type="text" class="form-control" name="dateOuverture" ngbDatepicker  #dateOuvertureDp="ngbDatepicker" formControlName="dateOuverture"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOuvertureDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateMiseEnProd">Date Mise En Prod</label>
                    <div class="input-group">
                        <input id="field_dateMiseEnProd" type="text" class="form-control" name="dateMiseEnProd" ngbDatepicker  #dateMiseEnProdDp="ngbDatepicker" formControlName="dateMiseEnProd"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateMiseEnProdDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_taxeProfessionnelles">Taxe Professionnelles</label>
                    <input type="number" class="form-control" name="taxeProfessionnelles" id="field_taxeProfessionnelles"
                           formControlName="taxeProfessionnelles"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fondDepense">Fond Depense</label>
                    <input type="number" class="form-control" name="fondDepense" id="field_fondDepense"
                           formControlName="fondDepense"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_seuilVersementIntermediaire">Seuil Versement Intermediaire</label>
                    <input type="number" class="form-control" name="seuilVersementIntermediaire" id="field_seuilVersementIntermediaire"
                           formControlName="seuilVersementIntermediaire"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_informatise">Informatise</label>
                    <input type="checkbox" class="form-control" name="informatise" id="field_informatise"
                           formControlName="informatise"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateDesactivation">Date Desactivation</label>
                    <div class="input-group">
                        <input id="field_dateDesactivation" type="text" class="form-control" name="dateDesactivation" ngbDatepicker  #dateDesactivationDp="ngbDatepicker" formControlName="dateDesactivation"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDesactivationDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_motifDesactivation">Motif Desactivation</label>
                    <input type="text" class="form-control" name="motifDesactivation" id="field_motifDesactivation"
                           formControlName="motifDesactivation"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_motifFermeture">Motif Fermeture</label>
                    <input type="text" class="form-control" name="motifFermeture" id="field_motifFermeture"
                           formControlName="motifFermeture"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_motifReouverture">Motif Reouverture</label>
                    <input type="text" class="form-control" name="motifReouverture" id="field_motifReouverture"
                           formControlName="motifReouverture"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_motifStatutMetier">Motif Statut Metier</label>
                    <input type="text" class="form-control" name="motifStatutMetier" id="field_motifStatutMetier"
                           formControlName="motifStatutMetier"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateFermeture">Date Fermeture</label>
                    <div class="input-group">
                        <input id="field_dateFermeture" type="text" class="form-control" name="dateFermeture" ngbDatepicker  #dateFermetureDp="ngbDatepicker" formControlName="dateFermeture"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFermetureDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_actif">Actif</label>
                    <input type="checkbox" class="form-control" name="actif" id="field_actif"
                           formControlName="actif"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_adresse">Adresse</label>
                    <select class="form-control" id="field_adresse" name="adresse" formControlName="adresseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="adresseOption.id" *ngFor="let adresseOption of adresses; trackBy: trackAdresseById">{{adresseOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_pointVente">Point Vente</label>
                    <select class="form-control" id="field_pointVente" name="pointVente" formControlName="pointVenteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pointVenteConfigOption.id" *ngFor="let pointVenteConfigOption of pointventes; trackBy: trackPointVenteConfigById">{{pointVenteConfigOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_compteBancaire">Compte Bancaire</label>
                    <select class="form-control" id="field_compteBancaire" name="compteBancaire" formControlName="compteBancaireId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="compteBancaireOption.id" *ngFor="let compteBancaireOption of comptebancaires; trackBy: trackCompteBancaireById">{{compteBancaireOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ville">Ville</label>
                    <select class="form-control" id="field_ville" name="ville" formControlName="villeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="villeOption.id" *ngFor="let villeOption of villes; trackBy: trackVilleById">{{villeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_societe">Societe</label>
                    <select class="form-control" id="field_societe" name="societe" formControlName="societeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="societeOption.id" *ngFor="let societeOption of societes; trackBy: trackSocieteById">{{societeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_agenceBusinessStatus">Agence Business Status</label>
                    <select class="form-control" id="field_agenceBusinessStatus" name="agenceBusinessStatus" formControlName="agenceBusinessStatusId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="codificationOption.id" *ngFor="let codificationOption of codifications; trackBy: trackCodificationById">{{codificationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                  <span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
