<div>
    <h2 id="page-heading">
        <span>Agences</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agence" [routerLink]="['/agence/new']">
            <span >
            Create a new Agence
            </span>
        </button>
    </h2>
    <br/>
    
    <div class="table-responsive">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
      <tr>
            <th><span>ID</span> </th>
            <th ><span>Libelle</span> </th>
            <th><span>Code</span></th>
            <th><span>Code Comptable</span> </th>
            <th ><span>Identification Fiscale</span> </th>
            <th ><span>Date Creation</span> </th>
            <th ><span>Fin Service</span> </th>
            <th ><span>Date Ouverture</span> </th>
            <th ><span>Date Mise En Prod</span> </th>
            <th ><span>Taxe Professionnelles</span> </th>
            <th ><span>Fond Depense</span> </th>
            <th ><span>Seuil Versement Intermediaire</span> </th>
            <th ><span>Informatise</span> </th>
            <th ><span>Date Desactivation</span> </th>
            <th ><span>Motif Desactivation</span> </th>
            <th ><span>Motif Fermeture</span> </th>
            <th ><span>Motif Reouverture</span> </th>
            <th ><span>Motif Statut Metier</span></th>
            <th ><span>Date Fermeture</span> </th>
            <th><span>Actif</span> </th>
            <th ><span>Adresse</span> </th>
            <th ><span>Point Vente</span> </th>
            <th ><span>Compte Bancaire</span></th>
            <th ><span>Ville</span> </th>
            <th ><span>Societe</span></th>
            <th ><span>Agence Business Status</span> </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agence of agences ;trackBy: trackId">
                <td><a [routerLink]="['/agence', agence.id, 'view' ]">{{agence.id}}</a></td>
                <td>{{agence.libelle}}</td>
                <td>{{agence.code}}</td>
                <td>{{agence.codeComptable}}</td>
                <td>{{agence.identificationFiscale}}</td>
                <td>{{agence.dateCreation | date:'mediumDate'}}</td>
                <td>{{agence.debutService | date:'mediumDate'}}</td>
                <td>{{agence.finService | date:'mediumDate'}}</td>
                <td>{{agence.dateOuverture | date:'mediumDate'}}</td>
                <td>{{agence.dateMiseEnProd | date:'mediumDate'}}</td>
                <td>{{agence.taxeProfessionnelles}}</td>
                <td>{{agence.fondDepense}}</td>
                <td>{{agence.seuilVersementIntermediaire}}</td>
                <td>{{agence.informatise}}</td>
                <td>{{agence.dateDesactivation | date:'mediumDate'}}</td>
                <td>{{agence.motifDesactivation}}</td>
                <td>{{agence.motifFermeture}}</td>
                <td>{{agence.motifReouverture}}</td>
                <td>{{agence.motifStatutMetier}}</td>
                <td>{{agence.dateFermeture | date:'mediumDate'}}</td>
                <td>{{agence.actif}}</td>
                <td>
                    <div *ngIf="agence.adresseId">
                        <a [routerLink]="['/adresse', agence.adresseId , 'view' ]" >{{agence.adresseId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="agence.pointVenteId">
                        <a [routerLink]="['/point-vente-config', agence.pointVenteId , 'view' ]" >{{agence.pointVenteId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="agence.compteBancaireId">
                        <a [routerLink]="['/compte-bancaire', agence.compteBancaireId , 'view' ]" >{{agence.compteBancaireId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="agence.villeId">
                        <a [routerLink]="['/ville', agence.villeId , 'view' ]" >{{agence.villeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="agence.societeId">
                        <a [routerLink]="['/societe', agence.societeId , 'view' ]" >{{agence.societeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="agence.agenceBusinessStatusId">
                        <a [routerLink]="['/codification', agence.agenceBusinessStatusId , 'view' ]" >{{agence.agenceBusinessStatusId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/agence', agence.id, 'view' ]"
                                class="btn btn-info btn-sm">
                         
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agence', agence.id, 'edit']"
                                class="btn btn-primary btn-sm">
                       
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agence', { outlets: { popup: agence.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                       
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="agences?.length === 0">
        <div class="row justify-content-center">
         
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
