<div>
    <h2 id="page-heading">
        <span>Gares</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gare" [routerLink]="['/gare/new']">

            <span >
            Create a new Gare
            </span>
        </button>
    </h2>

    <br/>
    <div class="alert alert-warning" *ngIf="gares?.length === 0">
        <span>No gares found</span>
    </div>
    <div class="table-responsive" *ngIf="gares?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th ><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th ><span>Libelle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th ><span>Correspondance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th ><span>Gare Agence</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th ><span>Actif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th ><span>Ville</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th ><span>Agence</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gare of gares ;trackBy: trackId">
                <td><a [routerLink]="['/gare', gare.id, 'view' ]">{{gare.id}}</a></td>
                <td>{{gare.libelle}}</td>
                <td>{{gare.correspondance}}</td>
                <td>{{gare.gareAgence}}</td>
                <td>{{gare.actif}}</td>
                <td>
                    <div *ngIf="gare.villeId">
                        <a [routerLink]="['/ville', gare.villeId , 'view' ]" >{{gare.villeLibelle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="gare.agenceId">
                        <a [routerLink]="['/agence', gare.agenceId , 'view' ]" >{{gare.agenceLibelle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/gare', gare.id, 'view' ]"
                                class="btn btn-info btn-sm">

                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gare', gare.id, 'edit']"
                                class="btn btn-primary btn-sm">

                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gare', { outlets: { popup: gare.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">

                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="gares?.length === 0">
        <div class="row justify-content-center">

        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
