<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-gare-heading">Create or edit a Gare</h2>
            <div>

                <div class="form-group">
                    <label class="form-control-label" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                           formControlName="libelle"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ville">Ville</label>
                    <select class="form-control" id="field_ville" name="ville" formControlName="villeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="villeOption.id" *ngFor="let villeOption of villes; trackBy: trackVilleById">{{villeOption.libelle}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_agence">Agence de rattachement</label>
                    <select class="form-control" id="field_agence" name="agence" formControlName="agenceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="agenceOption.id" *ngFor="let agenceOption of agences; trackBy: trackAgenceById">{{agenceOption.libelle}}</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-control-label" for="field_correspondance">Gare de correspondance</label>
                        <input type="checkbox" class="form-control" name="correspondance" id="field_correspondance"
                               formControlName="correspondance"/>
                    </div>
                    <div class="col">
                        <label class="form-control-label" for="field_gareAgence">Gare Agence</label>
                        <input type="checkbox" class="form-control" name="gareAgence" id="field_gareAgence"
                               formControlName="gareAgence"/>
                    </div>
                
                    <div class="col">
                        <label class="form-control-label" for="field_actif">Actif</label>
                        <input type="checkbox" class="form-control" name="actif" id="field_actif"
                               formControlName="actif"/>
                    </div>
                </div>
                <div class="form-group"></div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                &nbsp;<span>Annuler</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    &nbsp;<span>Sauvegrader</span>
                </button>
            </div>
        </form>
    </div>
</div>
