<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gare">
            <h2><span>Gare</span> {{gare.id}}</h2>
            <hr>

            <dl class="row-md jh-entity-details">
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{gare.libelle}}</span>
                </dd>
                <dt><span>Correspondance</span></dt>
                <dd>
                    <span>{{gare.correspondance}}</span>
                </dd>
                <dt><span>Gare Agence</span></dt>
                <dd>
                    <span>{{gare.gareAgence}}</span>
                </dd>
                <dt><span>Actif</span></dt>
                <dd>
                    <span>{{gare.actif}}</span>
                </dd>
                <dt><span>Ville</span></dt>
                <dd>
                    <div *ngIf="gare.villeId">
                        <a [routerLink]="['/ville', gare.villeId, 'view']">{{gare.villeId}}</a>
                    </div>
                </dd>
                <dt><span>Agence</span></dt>
                <dd>
                    <div *ngIf="gare.agenceId">
                        <a [routerLink]="['/agence', gare.agenceId, 'view']">{{gare.agenceId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
              &nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gare', gare.id, 'edit']"
                    class="btn btn-primary">
                <span> Edit</span>
            </button>
        </div>
    </div>
</div>
