<template>
  <div id="app">
    <LineHeader />
    <h1>Hello Vue3</h1>
    <router-view></router-view>
    <LineFooter />
  </div>
</template>

<script>
import LineHeader from "@/components/TheHeader";
import LineFooter from "@/components/TheFooter";


export default {
  name: "App",
  components: {
    LineHeader,
    LineFooter
  }
};
</script>

<style></style>
