<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
    <span class="logo-img"></span>
    <span class="navbar-title">Landlines</span> <span class="navbar-version">dev</span>
  </a>
  <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
  </a>
  <div class="navbar-collapse collapse" id="navbarResponsive" [ngSwitch]="isAuthenticated()">
    <ul class="navbar-nav ml-auto">
      <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
          <span>
            <fa-icon icon="cogs"></fa-icon>
            <span>
              Transport
            </span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" routerLink="agence" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
              <span>Agence</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="gare" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
              <span>Gare</span>
            </a>
          </li>

          <li>
            <a class="dropdown-item" routerLink="ligne" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
              <span>Ligne</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="depart" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
              <span>Depart</span>
            </a>
          </li>
        </ul>
      </li>
      <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
          <span>
            <fa-icon icon="th-list"></fa-icon>
            <span>
              Référentiel
            </span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" routerLink="devise" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="euro-sign" fixedWidth="true"></fa-icon>
              <span>Devise</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="societe" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="building" fixedWidth="true"></fa-icon>
              <span>Societe</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="pays" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="globe-africa" fixedWidth="true"></fa-icon>
              <span>Pays</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="banque" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="university" fixedWidth="true"></fa-icon>
              <span>Banque</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="codification" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="file-alt" fixedWidth="true"></fa-icon>
              <span>Codification</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="autocar" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="bus" fixedWidth="true"></fa-icon>
              <span>Autocar</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="categorie-age" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="user" fixedWidth="true"></fa-icon>
              <span>Categorie Age</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="km-inter-ville" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="road" fixedWidth="true"></fa-icon>
              <span>Km Inter Ville</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="materiel-informatique" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="laptop" fixedWidth="true"></fa-icon>
              <span>Materiel Informatique</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="modele-mail" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="mail-bulk" fixedWidth="true"></fa-icon>
              <span>Modele Mail</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="mode-reglement" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="credit-card" fixedWidth="true"></fa-icon>
              <span>Mode Reglement</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="nationalite" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="flag" fixedWidth="true"></fa-icon>
              <span>Nationalite</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="notification" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="comments" fixedWidth="true"></fa-icon>
              <span>Notification</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="type-message" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="envelope-square" fixedWidth="true"></fa-icon>
              <span>Type Message</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="message" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="envelope-square" fixedWidth="true"></fa-icon>
              <span>Message</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="ville" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="city" fixedWidth="true"></fa-icon>
              <span>Ville</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link dropdown-toggle fas fa-user" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
          <span>
            <fa-icon icon="user" fixedWidth="true"></fa-icon> ADMIN Landlines
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" (click)="logout()">
              <span><fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon> Quitter</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>