/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }

/*Styles applied inside Datatables DOM*/
.col-sm-7.pull-right{
    text-align: right;
  }
  
  .row.padding-top {
    padding-top: 8px;
  }
  
  .align-horiz-center {
    display: flex;
    justify-content: center;
  }
  
  .btn.button-bottom-margin {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  