﻿<!-- nav -->
<div><a href="#" title="haut de page" id="top"></a></div>
<header class="hidden-xs">
  <base href="/">
  <div class="row haut">
    <img class="col-sm-2 col-md-2 logo" src="./assets/autocar.png" alt="LandAutocar" />
    <div class="col-sm-3 col-md-3 nomministere" *ngIf="currentUser">
      <span>{{currentUser.parametreGlobal.titreMinistere}}</span>
    </div>
    <h1 class="col-sm-4 col-md-4">
      LandLines</h1>
  </div>
</header>
<!--
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>
-->
<div *ngIf="currentUser">
  <router-outlet name="navbar"></router-outlet>
</div>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- FOOTER -->
<footer>
  <div class="row">
    <div class="col-md-4" *ngIf="currentUser">
      <h3>{{currentUser.parametreGlobal.titreMinistere}}</h3>
      <ul class="list-unstyled">
        <li>
          © Version @project.version@ - Mise à jour le : @selfy.timestamp@
        </li>
        <li>
          Maîtrise d'oeuvre&nbsp;<abbr title="CP2I"> {{currentUser.parametreGlobal.titreMoe}}</abbr>.<br>
        </li>
        <li>
          Maîtrise d'ouvrage&nbsp;<abbr title="SDES"> {{currentUser.parametreGlobal.titreMoa}}</abbr>.<br>
        </li>
        <li>
          Maîtrise d'ouvrage co-réalisatrice&nbsp;<abbr title="DHUP">
            {{currentUser.parametreGlobal.titreMoaCoreal}}</abbr>.<br>
        </li>
      </ul>
    </div>
    <div class="col-md-4" *ngIf="currentUser">
      <hr>
      <!-- <a class="logo" href="http://www.developpement-durable.gouv.fr/"
        title="Nouvelle fenêtre : {{currentUser.parametreGlobal.titreMinistere}}" target="_blank">
        <img src="./assets/MTES_RVB.png" id="meem_logo" alt="Logo MEEM" height="100px">
      </a> -->
      <a class="logo" href="http://www.territoires.gouv.fr/"
        title="Nouvelle fenêtre : Maroc Product" target="_blank">
        <img src="./assets/maroc.png" id="mlhd_logo" alt="MAROC" height="100px">
      </a>
    </div>
    <div class="col-md-4">
      <h3></h3>
      <ul class="list-unstyled row">
        <li>
          <a rouerLink="">Mentions légales</a>
        </li>
        <li>
          <a rouerLink="" accesskey="0" title="Comment ce site est accessible ?">Accessibilité</a>
        </li>
        <li>
          <a rouerLink="">Contacts</a>
        </li>
        <li>
          <a accesskey="7" href="mailto:salihi.lyazid@gmail.com">Message à l'éditeur</a>
        </li>
      </ul>
    </div>
  </div>
</footer>